* {
    box-sizing: border-box;
}

table {
    margin: 16px;
}

td {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}

td, table {
    border: 1px solid black;
    border-collapse: collapse;
}

.letter {
    border: none;
}

.black {
    background-color: black;
}