.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header, .footer {
    height: 40px;
}

.header {
    background-color: yellow;
    display: flex;
    align-items: center;
}

.footer {
    background-color: green;
    display: flex;
}

.content {
    flex-grow: 1;
    display: flex;
}

aside {
    background-color: grey;
    width: 200px;
    display: flex;
    flex-direction: column;
}

section {
    background-color: pink;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.navigation_item {
    margin-left: 16px;
    list-style-type: none;
}

.footer_text {
    margin: auto;
}

.dashbord_headline {
    margin: 16px auto;
}

.news {
    height: 40px;
}

.news_item {
    margin: 0px;
    margin-left: 16px;
    list-style-type: none;
}